.bloop
.bsp
.metals
project/metals.sbt

.vscode

.tasty

project/project/
project/target/
target/

build/
.classpath
.project
.settings
.worksheet
bin/
.cache

*.log
*.iml
*.ipr
*.iws
.idea

.DS_Store

.history
.scala_dependencies
.cache-main

*.class

lib_managed
